@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<div class="row">
    <div class="col-md-4">
        <p>Check your phone or email for otp</p>
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Otp"></label>
                <input asp-for="Otp" class="form-control" autocomplete="off" />
                <span asp-validation-for="Otp" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="submit" class="btn btn-primary">ReSend</button>
            </div>
        </form>
    </div>
</div>
    }
}
